.header {
  height: 100%;
}
.header canvas {
  width:100%;height:auto/*默认全屏显示 可自己设置高度640px*/;
  display:inline-block;vertical-align:baseline;
  position:absolute;
  z-index:-1;
  height: 100%;
}
.header .canvaszz{  /*用来解决视频右键菜单，用于视频上面的遮罩层*/
  width:100%;
  background-image: -webkit-linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/in_top_bj.jpg);
  background-position: center;
  height:100%;
  position:absolute;
  z-index:10;
}


